.coupon {
    padding: 57px 365px 57px 372px;
    background-image: url(../img/Coupon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    &__heading {
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        text-transform: uppercase;
        color: #4D4D4D;
    }
    &__heading span {
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
        text-transform: uppercase;
        color: #4D4D4D;
    }
    &__button {
        display: inline-block;
        background: #BF7691;
        border-radius: 10px;
        max-width: 247px;
        width: 100%;
        height: 70px;
        line-height: 70px;
        margin-top: 26px;
        transition: 0.2s ease;
        &:hover {
            background: #ee6f9d;
        }
    }
}

@media screen and (max-width: 1440px) {
    .coupon {
        padding: 50px 250px;
    }
}

@media screen and (max-width: 1140px) {
    .coupon {
        padding: 50px 50px 50px 400px;
    }
}

@media screen and (max-width: 716px) {
    .coupon {
        padding: 50px 50px 50px 400px;
        &__heading {
            font-size: 20px;
            line-height: 35px;
        }
        &__heading span {
            font-size: 20px;
            line-height: 35px;
        }
        &__button {
            min-width: 150px;
        }
    }
}

@media screen and (max-width: 600px) {
    .coupon {
        padding: 50px 50px 50px 50px;
    }
}