.dostavka {
    padding-top: 127px;
    padding-bottom: 204px;
    &__heading {
        font-weight: 400;
        font-size: 40px;
        line-height: 49px;
        text-transform: uppercase;
        color: #4D4D4D;
        margin-bottom: 132px;
    }
}