.novelties-div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    &__div {
        border-radius: 10px;
        position: relative;
        & div {
            position: absolute;
            line-height: 24px;
            text-transform: uppercase;
            color: #FFFFFF;
            bottom: 25px;
            left: 25px;
        }
        &:hover {
            opacity: 0.8;
            transition-duration: 0.2s;
            transition-property: transform;
        }
    }
}

@media screen and (max-width: 1444px) {
    .novelties-div {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 825px) {
    .novelties-div {
        & img {
            width: 100%;
        }
    }
}